.input-field-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    height: 100%;
    width: 100%;
    background: transparent;
    border: transparent;

    padding: 0 20px 0 20px;
}

.input-field-style::placeholder {
    color: var(--rm-background);
    font-size: 20px;
}